.more .more__btn-list {
  display: flex;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.more .more__btn,
.more__suggestions-list .suggestion {
  display: flex;
  padding-right: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.more__btn .more__btn-title {
  font-size: 12px;
  margin-top: 15px;
}

.more__suggestions .more__suggestions-list {
  display: flex;
  padding-left: 10px;
  padding-top: 15px;
}

.more__suggestions {
  border-top: 1px solid #f7f7f7;
  padding-top: 15px;
}

.suggestion .suggestion__title {
  font-size: 12px;
  opacity: 0.5;
  margin-top: 15px;
}

.suggestion .suggestion__icon {
  background-color: #fce006;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestion__icon i {
  font-size: 28px;
  color: white;
}

.more__suggestions h5 {
  font-size: 13px;
  font-weight: 600;
}
